@font-face {
  font-family: 'icons';
  src:  url('../fonts/font-svg/icons.eot?fnav7w');
  src:  url('../fonts/font-svg/icons.eot?fnav7w#iefix') format('embedded-opentype'),
    url('../fonts/font-svg/icons.ttf?fnav7w') format('truetype'),
    url('../fonts/font-svg/icons.woff?fnav7w') format('woff'),
    url('../fonts/font-svg/icons.svg?fnav7w#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon_"]::after, [class*=" icon_"]::after {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-checked:before {
  content: "\e900";
  font-size: 6px;
  margin-right: 14px;
}
.icon_checked:after {
  content: "\e900";
  font-size: 6px;
  margin-left: 6px;
}



