$font-medium: 'Cera Pro Medium',sans-serif;
$font-bold: 'Cera Pro Bold',sans-serif;
$font-montserrat: 'Montserrat',sans-serif;
$letter-space-3: 0.03em;
$rotate-90: rotate(-90deg);
$blue-color: #F6FBFE;
$white-color: #FFFFFF;
$black-color: #000000;
$tablet-size: 768px;
$laptop-size: 960px;
$laptop-medium-size: 1366px;
$laptop-L-size: 1440px;
$big-screen-size: 1920px;
